<ng-template #contenido let-modal>
    <div class="modal-header" style = "background-color: whitesmoke">
        <span [ngClass]="botonLogin==0 ? 'colorPopUpActive': 'colorPopUpInactive'" type="button" (click) = "botonLogin = 0" class="modal-title tittlePopUp"> IDENTIFICARSE </span>
        <span [ngClass]="botonLogin==1 ? 'colorPopUpActive': 'colorPopUpInactive'" type="button" (click) = "botonLogin = 1" class="modal-title tittlePopUp"> NUEVA CUENTA </span>
        
        <mat-icon class ="close" aria-label="close" type="button" (click) ="modal.dismiss()">close</mat-icon>
    </div>
    
    <div class="modal-body">
        <form *ngIf = "botonLogin == 0" [formGroup] ="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
                <input style = "margin-top: 2vw;" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
            </div>
            <button (click) ="modal.close()" type="submit" class="btn btn-primary btn-lg">Iniciar Sesión</button>   
        </form>

        <form *ngIf = "botonLogin == 1" [formGroup] ="registerForm" (ngSubmit)="onRegister()">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" formControlName="email"/>
                <input style = "margin-top: 2vw;" type="contraseña" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" formControlName="password"/>
            </div>
            <button (click) ="modal.close()" type="submit" class="btn btn-primary btn-lg">Crear cuenta</button>
        </form>
    </div>

    <div class="modal-footer">
        
    </div>
</ng-template>

<div *ngIf = "shownav == true">
  <div class= "topnatvarcenter" *ngIf="estadoAyuda == true" style="background-color: black; height: 12vh">
    <span >Hola</span>
    <mat-icon type= "button" (click)= "estadoAyuda = false">close</mat-icon>
  </div>
  
  <div class= "topnatvarcenter" style="background-color: #4a4a4a; height: 6vh">
    <span>Hola</span>
  </div>

  <nav class="navbar navbar-expand-md navbar-dark navbarPrincipal" style="height: 10vh">
        <div class="container-fluid">
              <a class="navbar-brand" (click)="sidenavControl()" style= "cursor: pointer"><span class="navbar-toggler-icon"></span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item active topnatvarcenter">
                    <a class="nav-link" [routerLink] = "['/']" >Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  
                  <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
                    <li class="nav-item active topnatvarcenter">
                      <a class="nav-link" [routerLink] = "['services']" >Services
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>

                    <li class="nav-item active topnatvarcenter" *ngIf="user">
                      <a class="nav-link" [routerLink] = "['shop']" style= "cursor: pointer">Shop
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>

                    <li class="nav-item active topnatvarcenter">
                      <a class="nav-link button-mat-icon" (click) = "helpControl()">
                        <mat-icon>help</mat-icon>
                        <span style="margin-top: 3px">Ayuda</span>
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item active topnatvarcenter" *ngIf="user">
                      <a class="nav-link" (click) = "onLogout()" style= "cursor: pointer">Logout
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item active topnatvarcenter" *ngIf="user">
                      <a class="nav-link button-mat-icon" [routerLink] = "['cart']">
                        <mat-icon >shopping_cart</mat-icon>
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>
                  </ul>
                </ul>
                
                <ng-template #login>
                  <ul class="navbar-nav mx-auto ">
                      <li class="nav-item active topnatvarcenter">
                        <a class="nav-link" [routerLink] = "['services']" >Services
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item active topnatvarcenter">
                        <a class="nav-link" [routerLink] = "['shop']" style= "cursor: pointer">Shop
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>
                      
                      <li class="nav-item active topnatvarcenter">  
                        <a class="nav-link button-mat-icon" (click)="helpControl()">
                          <mat-icon>help</mat-icon>
                          <span style="margin-top: 3px">Ayuda</span>
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>

                      <li class="nav-item active topnatvarcenter">
                        <a type="button" class="nav-link" (click)="openLG(contenido); botonLogin=0">Identificarse
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>

                        <span class="nav-link">|</span>

                      <li class="nav-item active topnatvarcenter">
                        <a type="button" class="nav-link" (click)="openLG(contenido); botonLogin=1">Crear cuenta
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>

                      <li class="nav-item active topnatvarcenter">
                        <a class="nav-link button-mat-icon" [routerLink] = "['cart']" style= "cursor: pointer">
                          <mat-icon>shopping_cart</mat-icon>
                          <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                  </ul>
                </ng-template>
              </div>
        </div>
  </nav>
</div>

<nav *ngIf = "shownav == false" class="navbar navbar-expand-md navbar-dark navbarPrincipal fixed-top" style="height: 10vh">
      <div class="container-fluid">
            <a class="navbar-brand" (click)="sidenavControl()" style= "cursor: pointer"><span class="navbar-toggler-icon"></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item active topnatvarcenter">
                  <a class="nav-link" [routerLink] = "['/']" >Home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                
                <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
                  <li class="nav-item active topnatvarcenter">
                    <a class="nav-link" [routerLink] = "['services']" >Services
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>

                  <li class="nav-item active topnatvarcenter" *ngIf="user">
                    <a class="nav-link" [routerLink] = "['shop']" style= "cursor: pointer">Shop
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>

                  <li class="nav-item active topnatvarcenter">
                    <a class="nav-link button-mat-icon" (click) = "helpControl()">
                      <mat-icon>help</mat-icon>
                      <span style="margin-top: 3px">Ayuda</span>
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                   <li class="nav-item active topnatvarcenter" *ngIf="user">
                    <a class="nav-link" (click) = "onLogout()" style= "cursor: pointer">Logout
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item active topnatvarcenter" *ngIf="user">
                    <a class="nav-link button-mat-icon" [routerLink] = "['cart']">
                      <mat-icon >shopping_cart</mat-icon>
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                </ul>
              </ul>
              
              <ng-template #login>
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item active topnatvarcenter">
                      <a class="nav-link" [routerLink] = "['services']" >Services
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item active topnatvarcenter">
                      <a class="nav-link" [routerLink] = "['shop']" style= "cursor: pointer">Shop
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>
                    
                    <li class="nav-item active topnatvarcenter">  
                      <a class="nav-link button-mat-icon" (click) = "helpControl()">
                        <mat-icon>help</mat-icon>
                        <span style="margin-top: 3px">Ayuda</span>
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>

                    <li class="nav-item active topnatvarcenter">
                      <a type="button" class="nav-link" (click)="openLG(contenido); botonLogin=0">Identificarse
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>

                      <span class="nav-link">|</span>

                    <li class="nav-item active topnatvarcenter">
                      <a type="button" class="nav-link" (click)="openLG(contenido); botonLogin=1">Crear cuenta
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>

                    <li class="nav-item active topnatvarcenter">
                      <a class="nav-link button-mat-icon" [routerLink] = "['cart']" style= "cursor: pointer">
                        <mat-icon>shopping_cart</mat-icon>
                        <span class="visually-hidden">(current)</span>
                      </a>
                  </li>
                </ul>
              </ng-template>

            </div>
      </div>
</nav>

<mat-sidenav-container>
  <mat-sidenav  mode="over" [(opened)] = "opened">

    <mat-nav-list>
      <a mat-list-item [routerLink]="nav.route" (click)="opened=false" *ngFor="let nav of fillerNav">
        <mat-icon class="sidenavLateral">{{nav.icon}}</mat-icon>
        <span>{{nav.name}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style = "overflow: initial">
  </mat-sidenav-content>
<mat-sidenav-container>
