mat-sidenav-container{
  height: 100%;
}

mat-sidenav {
  padding: 20px;
  width: 260px;
}

.sidenavLateral{
  margin-right: 20px;
}

.navbarPrincipal{
  background-color: #333;

  color: #fff;
  width: 100%;
  top: 0;
  font-size: 12px;
}


.button-mat-icon{
  display: flex;
  cursor: pointer;
}

.button-mat-icon mat-icon{
  font-size: 18px;
}

.containsidenav{
  width: 100%;
  height: 100%;
  position: fixed;
}

.topnatvarcenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topnatvarcenter mat-icon{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.colorPopUpActive{
  background-color: #fff;
}
.colorPopUpInactive{
  background-color: whitesmoke;
}

.tittlePopUp{
  font-weight: bold;
  
}

button{
  margin-top:3vw;
  padding: 7px;
  width: 50%;
  font-size: medium;
  margin-left: 23.66667%;

}

.desactivarScroll{
  overflow-y: hidden;

}

.activarScroll{

  overflow-y: scroll;

}