<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)] = "opened">

    <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else loginLateral">
      <span *ngIf="user">{{user?.email}}</span>
    </ul>

    <mat-nav-list>
          <a mat-list-item [routerLink]="nav.route" (click)="opened=false" *ngFor="let nav of fillerNav">
            <mat-icon class="sidenavLateral">{{nav.icon}}</mat-icon>
            <span>{{nav.name}}</span>
          </a>
    </mat-nav-list>

    
  </mat-sidenav>

  <mat-sidenav-content>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" (click)="opened=true" style= "cursor: pointer"><span class="navbar-toggler-icon"></span></a>

        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink] = "['/']" >Home
                <span class="visually-hidden">(current)</span>
              </a>
            
            </li>
          </ul>
          
          <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['services']" >Services
                <span class="visually-hidden">(current)</span>
              </a>
            </li>

            <li class="nav-item" *ngIf="user">
              <a class="nav-link" [routerLink] = "['shop']" style= "cursor: pointer">Shop
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            
            <li class="nav-item" *ngIf="user">
              <a class="nav-link" [routerLink] = "['cart']" style= "cursor: pointer">
                <i class="material-icons">shopping_cart</i>
                <span class="visually-hidden">(current)</span>
              </a>
            </li>

            <li class="nav-item" *ngIf="user">
              <a class="nav-link" (click) = "onLogout()" style= "cursor: pointer">Logout
                <span class="visually-hidden">(current)</span>
              </a>
            </li>

          </ul>
          
          <ng-template #login>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['services']" >Services
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['shop']" style= "cursor: pointer">Shop
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['/user/login']">Login
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['/user/register']" >Register
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
            </ul>
          </ng-template>

          <ng-template #loginLateral>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['/user/login']" (click)="opened=false">Login
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
<mat-sidenav-container>
