<div class = "row" >
    <div class="col-md-12">
        <div class = "row" >
            <div class="col-md-12">
                <H3 style="border-bottom: 1px solid black">Cesta</H3>
            </div>
        </div>

        <div class = "row" >
            <div class="col-md-12">
                <div class="cart-item" *ngFor="let item of items">
                  <span>{{ item.name }}</span>
                  <span>{{ item.price | currency }} </span>
                  <button>Eliminar</button>
                </div>

                <button *ngIf="items.length > 0" (click)="clearCart()">
                  <span>Eliminar productos</span>
                </button>
            </div>
        </div>
    </div>
</div>