<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup] ="loginForm" (ngSubmit)="onLogin()">
        
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
            <div class="form-group mt-3">
                <p>Create an account <a [routerLink] = "['/user/register']">Create account</a></p>
            </div>
        </form>
        

    </mat-card-content>
</mat-card>




