<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre del servicio</th>
            <th scope="col">Localización</th>
            <th scope="col">Precio del servicio</th>
            <th scope="col">Valoración</th>
            <th scope="col">Funciones</th>  
        </tr>
    </thead>

    <tbody>
        <tr class="table-info" *ngFor="let item of services$ | async">
            <th scope="row">{{item.nombre}}</th>
            <td>{{item.localizacion}}</td>
            <td>{{item.precio}}</td>
            <td>{{item.valoracion}}</td>
            <td  role="group">
                <button type="button" class="btn btn-primary m-1" (click) = "onGoToEdit(item)">Editar</button>
                <button type="button" class="btn btn-primary m-1" (click) = "onGoToSee(item)">Detalles</button>
                <button type="button" class="btn btn-danger m-1" (click) = "onGoToDelete(item.id)">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>