
<H3 class = "d-flex" style="border-bottom: 1px solid black">
    <span>Servicios</span>
    <button *ngIf="user$ | async as user;" type="button" class="btn btn-primary m-1 float-right button-mat-icon" (click) = "onGoToAdd()">
        <mat-icon>add</mat-icon>
        <span>Crear servicio</span>
    </button>
</H3>
            
        
<table class="table table-hover" style= "font-size: 0.8rem">
    <thead>
            <tr>
            <th scope="col">Nombre del servicio</th>
            <th scope="col">Localización</th>
            <th scope="col">Precio del servicio</th>
            <th scope="col">Valoración</th>  
            <th scope="col">Usuario</th> 
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr  *ngFor="let item of services$ | async">
            <th>{{item.nombre}}</th>
            <td>{{item.localizacion}}</td>
            <td>{{item.precio}}</td>
            <td>{{item.valoracion}}</td>
            <td>{{item.emailUser}}</td>
            <td  role="group" class="d-flex">
            <button *ngIf="emailUserNew == item.emailUser" type="button" class="btn btn-primary m-1 button-mat-icon float-left" (click) = "onGoToEdit(item)"><mat-icon>mode_edit_outline</mat-icon>Editar</button>
            <button *ngIf="emailUserNew == item.emailUser" type="button" class="btn btn-danger m-1 button-mat-icon float-left" (click) = "onGoToDelete(item.id)"><mat-icon>delete</mat-icon>Borrar</button>
            <mat-icon type= "button" class="float-right assignmentbutton" (click) = "onGoToSee(item)">info</mat-icon>
            </td>
        </tr>
    </tbody>
</table>
            
        

