<div class="card mt-2">
    <div class="card-header">
        

    </div>
    <div class= "card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Nombre del producto : <H5> {{producto.name}} </H5>
            </li>
            <li class="list-group-item">
                Precio : <H5> {{producto.price}} </H5>
            </li>
            <li class="list-group-item">
                Descripcion : <H5> {{producto.description}} </H5>
            </li>
        </ul>
    </div>
    <div class="btn-group" role = "group">
        <button *ngIf="emailUserNew == producto.emailUser" type="button" class="btn btn-primary m-1 btn-sm" (click) = "onGoToEdit()">Editar</button>
        <button *ngIf="emailUserNew == producto.emailUser" type="button" class="btn btn-danger m-1 btn-sm" (click)= "onDelete()">Borrar</button>
        <button type="button" class="btn btn-danger m-1 btn-sm" (click)= "addToCart()">Añadir al carro</button>
    </div>
</div>
<button type="button" class="btn btn-dark m-2 btn-sm" (click)= "onGoBackToList()">Volver al listado</button>