@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* Application-wide Styles */
h1 {
    color: #369;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
}
h2, h3 {
  color: #444;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

body, input[type="text"], button {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
}
html, body { height: 100%; overflow: auto; }
body { 
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif; 
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}

.estiloRadioBoton .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #3C51CC; 
}

.estiloRadioBoton .mat-radio-outer-circle{
  border-color: #A4C1D1;
}

.estiloRadioBoton .mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#3C51CC;
  background-color:#3C51CC;
}

.estiloRadioBoton .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(255, 37, 37,.26);
}

.underlineFecha .mat-form-field-underline{
  background-color: #A4C1D1 !important;
  color: #A4C1D1 !important;
}

.estiloRadioBoton{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.estiloRadioBoton .mat-slide-toggle.mat-accent.mat-checked .mat-slide-toggle-bar{
  background-color:#3C51CC; 
}

.estiloRadioBoton .mat-slide-toggle.mat-accent .mat-slide-toggle-bar{
  background-color:#A4C1D1; 
}

.estiloCheckbox div .mat-checkbox-frame{
  border-color: #A4C1D1; 
}

.viewContainer {
  margin-top:5px;
  margin: 20px;
  width: 90%;
}

/*.sidenavBackgroundColor {
  background-color: #0070BF;
}*/