<div class="card mt-2">
    <div class="card-header">
        

    </div>
    <div class= "card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Nombre del servicio : <H5> {{servicio.nombre}} </H5>
            </li>
            <li class="list-group-item">
                Localización : <H5> {{servicio.localizacion}} </H5>
            </li>
            <li class="list-group-item">
                Precio del servicio : <H5> {{servicio.precio}} </H5>
            </li>
            <li class="list-group-item">
                Valoración : <H5> {{servicio.valoracion}} </H5>
            </li>
        </ul>
    </div>
    <div class="btn-group" role = "group">
        <button *ngIf="user$ | async as user;" type="button" class="btn btn-primary m-1 btn-sm" (click) = "onGoToEdit()">Editar</button>
        <button *ngIf="user$ | async as user;" type="button" class="btn btn-danger m-1 btn-sm" (click)= "onDelete()">Borrar</button>
    </div>
</div>
<button type="button" class="btn btn-dark m-2 btn-sm" (click)= "onGoBackToList()">Volver al listado</button>
