<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
        <form>
        
            <div class="form-group">
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
                <input type="contraseña" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
        
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
            <div class="form-group mt-3">
                <p> Do you have an account? <a [routerLink] = "['/user/login']">Login</a></p>
            </div>
        </form>
    </mat-card-content>
</mat-card>
